/* Main Navigation */
.is-style-main-navigation {
	width: 100%;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;

	.wp-block-navigation__responsive-container-open {
		padding: 1rem 0.5rem;
	}

	.wp-block-navigation__responsive-container:not(.is-menu-open) {
		.wp-block-navigation__container {
			gap: 0;
			font-size: 16px;

			> .wp-block-navigation-item {
				padding: 0 0.75rem;
				border-right: 1px solid currentColor;

				> .wp-block-navigation-item__content {
					padding: 0.75rem 0.5rem;
				}

				.wp-block-navigation__submenu-icon {
					margin-left: -0.2rem;
					margin-right: 0.5rem;
					width: 12px;
					height: 12px;
				}

				&:hover,
				&:focus,
				&:active {
					color: var(--wp--preset--color--white) !important;
					background-color: var(--wp--preset--color--accent) !important;
				}

				&.current-menu-item {
					> .wp-block-navigation-item__content {
						text-decoration: underline;
					}
				}

				> .wp-block-navigation__submenu-container {
					border-top: 1px solid;
					border-color: var(--wp--preset--color--white);
				}

				.wp-block-navigation__submenu-container {
					font-size: 15px;
					min-width: 250px !important;

					.wp-block-navigation-item {
						.wp-block-navigation-item__content {
							padding: 0.5rem 1rem;
						}

						.wp-block-navigation__submenu-icon {
							position: absolute;
							margin: 0;
							right: 0.5rem;
							background-color: transparent !important;
						}

						&:hover,
						&:focus,
						&:active {
							> .wp-block-navigation-item__content {
								background-color: rgba(255, 255, 255, 0.1) !important;
							}
						}
					}
				}
			}
		}
	}
}
