/* Main Navigation */
.is-style-main-navigation {
	width: 100%;
	border-top: 1px solid;
	border-color: var(--wp--preset--color--background-accent);

	.wp-block-navigation__responsive-container-open {
		padding: 1rem 0.5rem;
	}

	.wp-block-navigation__responsive-container:not(.is-menu-open) {
		.wp-block-navigation__container {
			gap: 0 1.25rem;

			> .wp-block-navigation-item {
				> .wp-block-navigation-item__content {
					margin-top: -1px;
					padding: 1rem 0.5rem 1.25rem;
					border-top: 5px solid transparent;
				}

				.wp-block-navigation__submenu-icon {
					margin-left: 0;
					margin-top: 0;
					width: 14px;
					height: 14px;
				}

				.wp-block-navigation-item__content,
				.wp-block-navigation__submenu-icon {
					&:hover,
					&:focus,
					&:active {
						color: var(--wp--preset--color--secondary);
					}
				}

				&.current-menu-item {
					> .wp-block-navigation-item__content {
						border-color: currentColor;
					}
				}

				.wp-block-navigation__submenu-container {
					padding: 0.5rem;
					font-size: var(--wp--preset--font-size--small);
					min-width: 280px !important;
					border: 1px solid;
					border-color: var(--wp--preset--color--background-accent);
					border-top: 4px solid currentColor;

					.wp-block-navigation-item {
						.wp-block-navigation-item__content {
							padding: 1rem;
						}

						.wp-block-navigation__submenu-icon {
							margin-right: 0.5rem;
						}
					}
				}
			}
		}
	}
}
