/* Read More Button */
.wp-block-post-excerpt.is-style-read-more-button {
	.wp-block-post-excerpt__more-link {
		margin: 0;
		padding: calc(0.4rem + 2px) calc(0.8rem + 2px);
		color: var(--wp--preset--color--white);
		background-color: var(--wp--preset--color--primary);
		text-decoration: none;
		font-size: var(--wp--custom--typography--font-size--button);

		&:hover,
		&:focus,
		&:active {
			color: var(--wp--preset--color--white);
			background-color: var(--wp--preset--color--accent);
		}
	}
}
