/* Read More Button */
.wp-block-post-excerpt.is-style-read-more-button {
	.wp-block-post-excerpt__more-link {
		margin: 0;
		padding: 0.4rem 0.8rem;
		color: var(--wp--preset--color--white);
		background-color: var(--wp--preset--color--primary);
		text-decoration: none;
		font-size: 16px;
		border: 1px solid transparent;
		box-shadow: inset 0 0 0 1px currentColor;

		&:hover,
		&:focus,
		&:active {
			color: var(--wp--preset--color--white);
			background-color: var(--wp--preset--color--dark-gray);
		}
	}
}
