/* Square shaped Social Links */
.wp-block-social-links.is-style-square-shape {
	.wp-social-link {
		border-radius: 0;
	}

	.wp-social-link a {
		padding: 0.7rem;

		&:hover,
		&:focus,
		&:active {
			background-color: var(--wp--preset--color--accent);

		}
	}

	.wp-block-social-link:hover {
		transform: none;
	}
}

.site-footer .wp-block-social-links.is-style-square-shape {
	.wp-social-link a {
		&:hover,
		&:focus,
		&:active {
			background-color: rgba(0, 0, 0, 0.15);
		}
	}
}
