hr {
	margin-top: var(--wp--custom--spacing--elements);
	margin-bottom: var(--wp--custom--spacing--elements);
	height: 4px;
	border: none;
	background-color: currentColor;
	box-sizing: content-box;
}
