a {
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	color: var(--wp--preset--color--secondary);
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Flip link hover for certain blocks */
.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts,
.wp-block-page-list,
.wp-block-tag-cloud,
.wp-block-post-date,
.wp-block-post-terms {
	a {
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
}
