/* Button Block */
.wp-block-button {
	.wp-block-button__link:hover,
	.wp-block-button__link:active {
		text-decoration: underline;
	}

	&:not(.is-style-outline) .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
	&:not(.is-style-outline) .wp-block-button__link:not(.has-background):not(.has-text-color):active {
		color: var(--wp--preset--color--white);
		background-color: var(--wp--preset--color--primary);
		text-decoration: none;
	}
}

.wp-block-button__link {
	padding: calc(0.6rem + 2px) calc(1rem + 2px);
}
