/* Button Block */
.wp-block-button {
	.wp-block-button__link:hover,
	.wp-block-button__link:active {
		text-decoration: underline;
	}

	&:not(.is-style-outline) .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
	&:not(.is-style-outline) .wp-block-button__link:not(.has-background):not(.has-text-color):active {
		color: var(--wp--preset--color--white);
		background-color: var(--wp--preset--color--accent);
		text-decoration: none;
	}
}

.wp-block-button__link {
	padding: calc(0.4rem + 2px) calc(0.8rem + 2px);
}

.wp-block-button.is-style-outline .wp-block-button__link {
	padding: 0.4rem 0.8rem;
}
