/* Search Block */
.wp-block-search {
	.wp-block-search__input {
		padding: 0.4rem 0.8rem;
		background: inherit;
	}

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper {
		padding: 0.2rem 0.2rem 0.2rem 0.8rem;
		border: 1px solid #ddd;

		.wp-block-search__input {
			padding: 0;
		}

		.wp-block-search__button {
			padding: 0.2rem 0.6rem;

			&.has-icon {
				display: flex;
				padding: 0.4rem;
			}
		}
	}

	.wp-block-search__button {
		display: flex;
		align-items: center;
		margin-left: 0.4rem;
		padding: 0.4rem 0.8rem;
		border: none;
		color: var(--wp--preset--color--white);
		background-color: var(--wp--preset--color--primary);
		text-decoration: none;
		font-weight: normal;
		font-size: var(--wp--preset--font-size--small);
		line-height: inherit;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			color: var(--wp--preset--color--white);
			background-color: var(--wp--preset--color--accent);
		}
	}
}
